.inputFields {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .btnContainer {
    width: 100px;
    height: 100px;
    margin: auto;
}

.errorMessage {
  color:red;
  font: 0.5 em;
  margin: 0 0 10px
}
